In [35]:
import pandas as pd
import os

In [36]:
dir = "C:/Users/pc/Downloads/ai-level1/titanic"
titanic_train = pd.read_csv(os.path.join(dir, "train.csv"))
titanic_train.shape
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [37]:
import sklearn
print(sklearn.__version__)

1.2.2

In [38]:
from sklearn import tree 
dt = tree.DecisionTreeClassifier()
#learn the pattern by invoking fit method
features = ['Parch', 'SibSp']
X_train = titanic_train[features]
y_train = titanic_train['Survived']
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [44]:
%matplotlib qt
tree.plot_tree(dt, feature_names=features, filled=True, fontsize=7)

[Text(0.3932291666666667, 0.9375, 'Parch <= 0.5\ngini = 0.473\nsamples = 891\nvalue = [549, 342]'),
 Text(0.08333333333333333, 0.8125, 'SibSp <= 0.5\ngini = 0.451\nsamples = 678\nvalue = [445, 233]'),
 Text(0.041666666666666664, 0.6875, 'gini = 0.423\nsamples = 537\nvalue = [374, 163]'),
 Text(0.125, 0.6875, 'SibSp <= 1.5\ngini = 0.5\nsamples = 141\nvalue = [71, 70]'),
 Text(0.08333333333333333, 0.5625, 'gini = 0.499\nsamples = 123\nvalue = [59, 64]'),
 Text(0.16666666666666666, 0.5625, 'SibSp <= 2.5\ngini = 0.444\nsamples = 18\nvalue = [12, 6]'),
 Text(0.125, 0.4375, 'gini = 0.375\nsamples = 16\nvalue = [12, 4]'),
 Text(0.20833333333333334, 0.4375, 'gini = 0.0\nsamples = 2\nvalue = [0, 2]'),
 Text(0.703125, 0.8125, 'SibSp <= 2.5\ngini = 0.5\nsamples = 213\nvalue = [104, 109]'),
 Text(0.53125, 0.6875, 'Parch <= 3.5\ngini = 0.473\nsamples = 169\nvalue = [65, 104]'),
 Text(0.3958333333333333, 0.5625, 'SibSp <= 0.5\ngini = 0.456\nsamples = 159\nvalue = [56, 103]'),
 Text(0.2916666666666667, 0.4375, 'Parch <= 2.5\ngini = 0.427\nsamples = 68\nvalue = [21, 47]'),
 Text(0.25, 0.3125, 'Parch <= 1.5\ngini = 0.43\nsamples = 67\nvalue = [21, 46]'),
 Text(0.20833333333333334, 0.1875, 'gini = 0.45\nsamples = 38\nvalue = [13, 25]'),
 Text(0.2916666666666667, 0.1875, 'gini = 0.4\nsamples = 29\nvalue = [8, 21]'),
 Text(0.3333333333333333, 0.3125, 'gini = 0.0\nsamples = 1\nvalue = [0, 1]'),
 Text(0.5, 0.4375, 'SibSp <= 1.5\ngini = 0.473\nsamples = 91\nvalue = [35, 56]'),
 Text(0.4166666666666667, 0.3125, 'Parch <= 2.5\ngini = 0.482\nsamples = 79\nvalue = [32, 47]'),
 Text(0.375, 0.1875, 'Parch <= 1.5\ngini = 0.478\nsamples = 76\nvalue = [30, 46]'),
 Text(0.3333333333333333, 0.0625, 'gini = 0.481\nsamples = 57\nvalue = [23, 34]'),
 Text(0.4166666666666667, 0.0625, 'gini = 0.465\nsamples = 19\nvalue = [7, 12]'),
 Text(0.4583333333333333, 0.1875, 'gini = 0.444\nsamples = 3\nvalue = [2, 1]'),
 Text(0.5833333333333334, 0.3125, 'Parch <= 1.5\ngini = 0.375\nsamples = 12\nvalue = [3, 9]'),
 Text(0.5416666666666666, 0.1875, 'gini = 0.245\nsamples = 7\nvalue = [1, 6]'),
 Text(0.625, 0.1875, 'Parch <= 2.5\ngini = 0.48\nsamples = 5\nvalue = [2, 3]'),
 Text(0.5833333333333334, 0.0625, 'gini = 0.5\nsamples = 4\nvalue = [2, 2]'),
 Text(0.6666666666666666, 0.0625, 'gini = 0.0\nsamples = 1\nvalue = [0, 1]'),
 Text(0.6666666666666666, 0.5625, 'Parch <= 4.5\ngini = 0.18\nsamples = 10\nvalue = [9, 1]'),
 Text(0.625, 0.4375, 'gini = 0.0\nsamples = 4\nvalue = [4, 0]'),
 Text(0.7083333333333334, 0.4375, 'SibSp <= 0.5\ngini = 0.278\nsamples = 6\nvalue = [5, 1]'),
 Text(0.6666666666666666, 0.3125, 'gini = 0.0\nsamples = 2\nvalue = [2, 0]'),
 Text(0.75, 0.3125, 'Parch <= 5.5\ngini = 0.375\nsamples = 4\nvalue = [3, 1]'),
 Text(0.7083333333333334, 0.1875, 'gini = 0.444\nsamples = 3\nvalue = [2, 1]'),
 Text(0.7916666666666666, 0.1875, 'gini = 0.0\nsamples = 1\nvalue = [1, 0]'),
 Text(0.875, 0.6875, 'Parch <= 1.5\ngini = 0.201\nsamples = 44\nvalue = [39, 5]'),
 Text(0.8333333333333334, 0.5625, 'gini = 0.0\nsamples = 16\nvalue = [16, 0]'),
 Text(0.9166666666666666, 0.5625, 'SibSp <= 4.5\ngini = 0.293\nsamples = 28\nvalue = [23, 5]'),
 Text(0.875, 0.4375, 'SibSp <= 3.5\ngini = 0.43\nsamples = 16\nvalue = [11, 5]'),
 Text(0.8333333333333334, 0.3125, 'gini = 0.408\nsamples = 7\nvalue = [5, 2]'),
 Text(0.9166666666666666, 0.3125, 'gini = 0.444\nsamples = 9\nvalue = [6, 3]'),
 Text(0.9583333333333334, 0.4375, 'gini = 0.0\nsamples = 12\nvalue = [12, 0]')]

In [40]:
titanic_test = pd.read_csv(os.path.join(dir, "test.csv"))
print(titanic_test.shape)
titanic_test.head()

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [41]:
X_test = titanic_test[features]
titanic_test['Survived'] = dt.predict(X_test)
titanic_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [43]:
titanic_test.to_csv(os.path.join(dir, "submission1.csv"), columns=["PassengerId", "Survived"], index=False)